.app-a {
  color: $primary;
  transition: 0.25s;
  padding-bottom: 3px;
  margin-right: 1em;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &:hover {
    color: $primary-dark;
    border-bottom: 1px solid $primary-dark;
  }

  &__active {
    color: $primary-dark;
    border-bottom: 1px solid $primary-dark;
  }
}